.dropdown {
  margin: 16px 24px;
  width: 95%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid
    var(--opacity-colors-natural-dark-white-50-dark, rgba(255, 255, 255, 0.5));
  background: var(
    --natural-colors-dark-background-colors-dark-background-color-02-dark,
    #1e1e1e
  );
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  opacity: 0.8;
}

.optionsBox {
  direction: rtl;
  border-radius: 8px;
  border: 1px solid
    var(
      --natural-colors-dark-background-colors-dark-background-color-03-dark,
      #282828
    );
  background: var(
    --natural-colors-dark-background-colors-dark-background-color-02-dark,
    #1e1e1e
  );
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.5);
}

.title {
  color: var(--natural-colors-dark-primary-color-dark, #e8e8e8);
  text-align: "right";
  font-family: "IRANSansWeb";
  font-size: "14px";
  font-style: "normal";
  font-weight: 700;
  line-height: 171.429%;
}

.optionText {
  color: var(--natural-colors-dark-primary-color-dark, #e8e8e8);
  text-align: right;
  font-family: "IRANSansWeb";
  font-size: "14px";
  font-style: normal;
  font-weight: 700;
  line-height: 171.429%;
}
